---
apiVersion: packaging.carvel.dev/v1alpha1
kind: PackageInstall
metadata:
  annotations:
    tkg.tanzu.vmware.com/tanzu-package-ClusterRole: grafana-packages-cluster-role
    tkg.tanzu.vmware.com/tanzu-package-ClusterRoleBinding: grafana-packages-cluster-rolebinding
    tkg.tanzu.vmware.com/tanzu-package-Secret: grafana-packages-values
    tkg.tanzu.vmware.com/tanzu-package-ServiceAccount: grafana-packages-sa
    kapp.k14s.io/update-strategy: "fallback-on-replace"
    kapp.k14s.io/create-strategy: "fallback-on-replace"
  name: grafana
  namespace: packages
spec:
  packageRef:
    refName: grafana.tanzu.vmware.com
    versionSelection:
      constraints: 7.5.16+vmware.1-tkg.1
  serviceAccountName: grafana-packages-sa
  values:
  - secretRef:
      name: grafana-packages-values
